html {
    font-family: sans-serif;
}

#participants {
    float: right;
}

#participants .you {
    background-color: #cfc;
}

.edit {
    color: #00c;
}

.participant-cursor {
  width: 0; 
  height: 0; 
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 3px solid black;
  margin-left: -3px;
  margin-top: -3px;
}
