.edit {
    color: #00c;
}

.participant-cursor {
    border-left: 2px solid #00c;
    margin: 0 -1px;
    padding: 0;
    z-index: 0;
}

tw-editor {
    font-family: monospace;
}

.CodeMirror {
    height: auto;
}